* {
  box-sizing: border-box;
}

.header {
  border: 1px solid black;
  text-align: center;
  background-color: #1d3557;
  color: white;
}

.mainForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
}

#btn-generate {
  background-color: #57cc99;
}

.btn-add {
  background-color: #00bbf9;
}

.container {
  display: flex;
}

.entity {
  margin: 0.5rem;
  margin-top: 0;
  padding: 0.5rem;
  background-color: #fcf6bd;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.cv {
  width: 21cm;
  height: 29.7cm;
  border: 1px solid black;
}

.cv.generated {
  transform: scale(1.5);
}

h1 {
  text-align: center;
}

#cvName {
  font-size: 2.5em;
}

.education {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}

.bold {
  font-weight: bold;
}
